container {
    margin: auto;
    width: 50%;
}

.slider-container {
    margin-top: 20px;
}

#sliderValue {
    display: inline-block;
    margin-left: 10px;
}
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input {
  margin: 0.4rem;
}
fieldset style {
    padding:30px; 
    border:3px;
    solid #4238ca; 
    #background:#f6f8ff;
}
