/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    body {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    rebate-entry {
        display:inline-block;
        text-align:left;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    rebate-results {
        display:inline-block; 
        text-align:center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}      

/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
    body {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    rebate-entry {
        display:inline-block;
        text-align:left;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    rebate-results {
        display:inline-block; 
        text-align:center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
} 
      
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px) { 
    body {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    rebate-entry {
        display:inline-block;
        float: left
        text-align:left;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    rebate-results {
        display:inline-block; 
        float: right;
        text-align:center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) { 
    #container {
        display: flex;
        width: 50%;
    }
    body {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #rebate-entry {
        display: flex;
        float: left;
        width: 50%;
        text-align:left;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #rebate-results {
        display: flex;
        float: right;
        width: 45%;
        text-align:center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
} 

/*Everything else*/
#container {
    background-color: rgb(1, 33, 105);
    color: white;
}
canvas {
    margin-bottom: 20px;
}
.slider-container {
    margin-top: 20px;
}
#sliderValue {
    display: inline-block;
    margin-left: 10px;
}
legend {
  padding: 3px 6px;
}
input {
  margin: 0.4rem;
}
